/* Main container for Skills section */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background: transparent;
  opacity: 0; /* Start fully invisible */
  transform: translateY(50px); /* Start positioned below */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

/* Class to apply when the section is in view */
.skills-section.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

/* Title styling */
.skills-title {
  font-size: 2.5rem; /* Ensure this matches the about-title */
  color: var(--imp-text-color);
  margin-bottom: 2rem;
  text-align: center;
}

/* Category container */
.skills-category {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 3rem;
}

/* Category title styling */
.category-title {
  font-size: 1.8rem;
  color: var(--imp-text-color);
  margin-bottom: 1.5rem;
  text-align: left;
}

/* Container for skills within each category */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

/* Each skill item */
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribute space evenly */
  width: 120px; /* Adjust width as needed */
  padding: 1rem 0.5rem 0.2rem 0.5rem; /* Increased padding-top */
  border-radius: 10px; /* Curved corners */
  background: rgba(255, 255, 255, 0.2); /* Dimmer transparency */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  transition: transform 0.2s; /* Optional: Add a hover effect */
}

.skill-item:hover {
  transform: scale(1.05); /* Optional: Slightly enlarge on hover */
}

/* Skill logo styling */
.skill-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8); /* Increased opacity for brighter background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0.3rem; /* Reduced margin-bottom */
}

.skill-logo img {
  width: 50px;
  height: auto;
}

/* Skill name styling */
.skill-name {
  font-size: 1rem; /* Increased font size for better readability */
  text-align: center;
  margin-top: 0.2rem; /* Reduced margin-top */
  color: var(--imp-text-color); /* Ensure text color is bright */
  flex-grow: 1; /* Allow the name to take up remaining space */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .skills-title {
    font-size: 2rem;
  }
  .category-title {
    font-size: 1.5rem;
  }
}